# Swift Package Manager
.build/
.swiftpm/

# Xcode
*.xcodeproj/
*.xcworkspace/
DerivedData/
*.xcuserstate
*.xccheckout
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
*.swp
*.swo
.idea/
.vscode/

# Binaries
*.o
*.d
